PORT=5000
DATABASE_URL="mysql://root:password@localhost:3306/caci_church_db"
JWT_SECRET="caci_super_secret_church_key_2026"
NODE_ENV=development
VYNFY_API_KEY="a5a9ec5fb9c6612a0df7f953b53f4507"
VYNFY_SENDER_ID="CACI"
